.card {
  display: grid;
  position: relative;
}
.card__image {
  width: 328px;
  height: 328px;
  border-radius: 30px;
  cursor: pointer;
}
.card__name {
  position: absolute;
  top: 1px;
  left: 113px;
  right: 105px;
  text-align: center;
  padding: 0 12px;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.6);
  background-color: #fff;
  font-family: "CabinetGrotesk-Medium", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like__button-container {
  position: relative;
}

.like__button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  border: none;
  align-self: center;
  margin-top: -313px;
  margin-left: 233px;
  margin-right: -58px;
  margin-bottom: 54px;
  height: 17px;
  width: 20px;
}

.like__button:hover {
  cursor: pointer;
}

.like__button_inactive {
  background-image: url(../../images/unlike.svg);
}

.like__button_active {
  background-image: url(../../images/State=Likedstate-liked.svg);
}
