.modal__preview-container {
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  position: relative;
  border-radius: 16px;
  max-width: 498px;
  /* max-height: 610px; */
  height: 100%;

  background-color: #fff;
}

.modal__image {
  width: 498px;
  height: 498px;
  background-color: rgba(0, 0, 0, 0.822);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
}

.modal__close-btn-white {
  background-image: url(../../images/Modal-Close-Button-white.svg);
  position: absolute;
  top: 20px;
  right: 28px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.modal__preview-name {
  color: #000;
  margin: 20px 0 12px 32px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.modal__preview-weather {
  color: #000;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* margin: 0 0 32px 32px; */
  margin-top: 12px;
  margin-bottom: 28px;
  margin-left: 32px;
}

.button__delete-preview {
  position: absolute;
  color: red;
  background-color: transparent;
  border: none;
  font-size: 20px;
  font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  transition: opacity linear 0.2s 0.1s;
  cursor: pointer;
  bottom: 48px;
  right: 39px;
}

.button__delete-preview:hover {
  opacity: 0.6;
}

.button__delete-preview_visible {
  visibility: visible;
}

.button__delete-preview_hidden {
  visibility: hidden;
}
