.clothes-section {
  display: flex;
  flex-direction: column;
  /* font-family: "CabinetGrotesk-Bold", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
} */
}

.clothes-section__container {
  display: flex;
  /* gap: 20px; */
  /* position: relative;
    margin-top: 17px;
    margin-left: 1px;
    margin-bottom: 10px; */
}

.clothes-section__title {
  color: #000;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

.clothes-section__btn {
  /* color: rgba(0, 0, 0, 0.6); */
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  /* background: #fff; */
  background-color: transparent;
  cursor: pointer;
  margin-left: 10px;
}

.clothes-section__btn:hover {
  opacity: 0.6;
}

.clothes-section__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  /* margin-top: 10px; */
  list-style: none;
  padding: 0;
  /* width: 100%;
    max-width:1010px; */
}
